.font-detail {
    text-align: left;
}

.font-detail .row {
    align-content: center;
}

.font-detail .font-name-row {
    margin-top: 16px;
    margin-bottom: 32px;
}

.font-detail .font-sample-row {
    text-align: center;
}

.font-detail img.font-sample {
    border: 3px dashed gray;
    border-radius: 5px;
    padding: 16px;
    max-width: 90%;
}

.font-detail .section-header {
    margin: 32px 0;
}

.font-detail .section-body {
    margin: 32px 0;
}

.font-detail .row h4 {
    text-align: right;
    padding: 16px;
}