.image-area-wrapper {
    height: 200px;
    margin: 8px 0;
}

.image-empty {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: gray dashed 3px;
}

.image-preview {
    min-height: 100px;
    max-height: 200px;
}